<h2>Hello {{vendorName}},</h2>

<p>Good news!</p>

<p>Your payment for a Cash on Delivery (COD) order has been successfully completed.</p>

<h2>Payment Details</h2>
<ul>
  <li><strong>Order Reference:</strong> {{orderReference}}</li>
  <li><strong>Amount Paid:</strong> ₦{{amountPaid}}</li>
  <li><strong>Delivery Item:</strong> {{deliveryItem}}</li>
</ul>

<p>The amount has been <strong>credited to your wallet balance,</strong> and it’s now available for use or withdrawal at your convenience.</p>

<p>If you have any questions about this payment or notice anything that doesn’t look right, please reach out to our support team, we’re happy to help.</p>

<p>Thank you for delivering with us and for being a valued partner on our platform</p>

<p>Warm regards,</p>
<p><strong>Dilivaly Team</strong></p>
