<h4>Hello {{vendorName}},</h4>

<p>We’re pleased to inform you that all items in order <strong>{{orderReference}}</strong> have been successfully fulfilled.</p>

<p>Your feedback is important to us. Kindly take a moment to share your experience by leaving a review for the agent, it helps maintain quality and build trust within the Dilivaly community.</p>

<p>
  <a class="btn" href="{{OrderUrl}}">Leave a Review</a>
</p>

<p>Thank you for choosing Dilivaly.</p>

<p>Best regards,<br/>The Dilivaly Team</p>
